Testserver_2 - Backup
AIS_Demonstrator (Frontend)/AIS_Demonstrator/obj/*
/obj/*
AIS_Demonstrator (Frontend)/AIS_Demonstrator/bin/*
CODESYS_daheim
backup
/CoffeeOrder Service (Backend)/CoffeeOrder_Service_brokenCallback.js