<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="AIS_Demonstrator.AIS_Demonstrator" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="AIS_Demonstrator" android:theme="@style/Theme"></application>
</manifest>